<div>
    <!-- <input [(ngModel)]="numberValue"> <button (click)="handleAdd()">添加</button>
    <ul *ngFor="let item of lists; index as i"> 
        <li>{{i}} -- {{item}} <span [ngStyle]="deleteStyle" (click)="handleDelete(i)">X</span></li>
    </ul> -->

    <table>
        <tbody>
            <tr *ngIf="employList.length <= 0; else hasEmploy"> no employee</tr>
            <ng-template #hasEmploy>
                <tr *ngFor="let item of employList; index as i" >
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.age | AgePipe:'en'}}</td>
                    <td>{{item.address}}</td>
                    <td><button (click)="handleDelete(i)">delete</button></td>
                </tr>
            </ng-template>
            
        </tbody>
    </table>

</div>


